{% extends 'layout.html' %}
{% block title %}脱サラ君{% endblock %}
{% block header %}株・FXのAI解析を行いウハウハするサイト{% endblock %}
{% block content %}
<table> 
    {% for data in index %}
    <tr>
        <td> 
            <div>{{data.group_id}}-{{data.post_id}}</div> 
        </td>
        <td>
            <div class="ml-3 mb-1">
                <a href="{% url 'article' data.url %}">{{data.title}}</a> 
            </div>
        </td>
    </tr> 
    {% endfor %} 
 </table>
{% endblock %}
